body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="file"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"],
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a button {
  margin-right: 10px;
}

a button:hover,
input[type="submit"]:hover {
  background-color: #0069d9;
}

.button-container {
  margin-top: 20px;
}

.custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom-file-label {
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
}
.selected-file-name {
  margin-top: 10px;
}

.decrypted-image {
  margin-top: 20px;
}
