<!DOCTYPE html>
<html>
  <head>
    <title>Decrypt</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Decrypt an Image</h1>
    <form method="POST" action="/decrypt" enctype="multipart/form-data">
      <label>Select the encrypted image file</label><br /><br />
      <input type="file" name="image" required /><br /><br />
      <input type="submit" value="Decrypt" />
    </form>
    {% if decrypted_message %}
    <div class="decrypted-message">
      <h2>Decrypted Message:</h2>
      <p>{{ decrypted_message }}</p>
    </div>

    {% endif %}
    <br />
    <div class="button-container">
      <a href="{{ url_for('encrypt') }}"><button>Encrypt an Image</button></a>
      <a href="{{ url_for('index') }}"><button>Home</button></a>
    </div>
  </body>
</html>
