<!DOCTYPE html>
<html>
  <head>
    <title>Image Message Encrypter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Steganography Web App</h1>
    <h3>
      Encrypt messages into an image or decrypt hidden messages in an image!
    </h3>

    <a href="{{ url_for('encrypt') }}"><button>Encrypt</button></a>
    <a href="{{ url_for('decrypt') }}"><button>Decrypt</button></a>
  </body>
</html>
